<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/main_page :: header(active='resources')}"></div>
<main class="p-2 p-md-4" style="background-color: #ECECEC">
    <div class="container">
        <div class="p-4 md-5 text-body-emphasis bg-white">
            <h1 class="display-5 mb-4">Resources</h1>
            <p>Здесь я выписал основные материалы, которые я использовал для учебы Java Core, Spring framework и
                остального. Понятно, что это далеко не все, потому что в добавок к этому было просмотрено очень много
                коротких уроков и
                тому подобного.</p>

            <!--            java core-->
            <h3>Java core</h3>
            <a href="https://www.labirint.ru/books/464095/">Брюс Эккель: Философия Java</a>
            <a href="https://gentle-ghoul-1f7.notion.site/Java-plan-a185bb7895e84b98bdb38f7c9a02eabb?pvs=4">Notion</a>
            <a href="https://youtube.com/playlist?list=PLqj7-hRTFl_oDMBjI_EstsFcDAwt-Arhs&si=44lVc31buNbBSJqz">Курс
                прокаченная java (Програмания)</a>
            <a href="https://youtube.com/playlist?list=PLAma_mKffTOTtGQEbqurDRoPwDEKzzZQA&si=MDy5ldoNsjcNlgSn">Курс
                продвинутая java (Alishev)</a>

            <!--            spring-->
            <h3>Spring</h3>
            <a href="https://gentle-ghoul-1f7.notion.site/4f2b10e49f8642b1bd3250762a526503?v=b29f917d667a4bf3aebf101997a4fe5f&pvs=4">Notion</a>
            <a href="https://youtube.com/playlist?list=PLAma_mKffTOR5o0WNHnY0mTjKxnCgSXrZ&si=NgXLQDp3ptFKLtX5">Курс
                Spring Framework Alishev</a>
            <a href="https://youtube.com/playlist?list=PLMN3dELi3-VdVo8NGOYqaOLC2alq6ZmSh&si=JbydKn6uAWg7q97a">Курс
                Spring Boot. Разработка веб-приложения с нуля</a>
            <a href="https://youtube.com/playlist?list=PL0lO_mIqDDFUYDRzvocu5EsFGBqPM7CIw&si=axcLkbJp0RMTRV3E">Курс
                Разработка сайта на Java Spring Boot</a>
            <a href="https://youtube.com/playlist?list=PL7ZzXmLk6CYUl4exDW4S_2sQbYpQNswfR&si=WWawBUbYGwZLy4dH">Простой
                Telegram бот на Java и Spring Boot</a>
            <a href="https://www.youtube.com/watch?v=HvovW6Uh1yU&t=3020s">GeekBrains: "Как устроен Spring Security"</a>

            <!--            others-->
            <h3>Others</h3>
            <a href="https://youtube.com/playlist?list=PL4cUxeGkcC9ivBf_eKCPIAYXWzLlPAm6G&si=ue0JfY7jdqkJfCEa">Html</a>
            <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9ivBf_eKCPIAYXWzLlPAm6G">Bootstrap</a>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/main_page :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>