<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{fragments/main_page :: header}" th:object="${active}"></header>
<div class="container mt5">
    <div class="alert alert-info mt-2" th:each="project : ${projects}">
        <h3 th:text="${project.getTitle()}"></h3>
        <a th:href="'/projects/' + ${project.getId()}">Подробнее</a>
    </div>
</div>

<footer th:insert="~{fragments/main_page :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>