<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{fragments/main_page :: header}" th:object="${active}"></header>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="project : ${projects}">
            <div class="card shadow-sm">
                <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                <!--                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                <!--                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                <!--                    <rect width="100%" height="100%" fill="#55595c"></rect>-->
                <!--                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                <!--                </svg>-->
                <img class="bd-placeholder-img card-img-top" th:src="${project.getImg()}"
                     th:alt="${project.getTitle()}" width="100%" height="225">
                <div class="card-body">
                    <h3 th:text="${project.getTitle()}"></h3>
                    <a th:href="@{projects/{id}(id=${project.getId()})}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/main_page :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>