<div class="container" th:fragment="notion-bot">
    <div class="p-4 text-body-emphasis bg-white">
        <h1 class="display-5 mb-4">Telegram Notification Bot</h1>

        <!--    Introduction-->
        <ul>
            <li><a href="https://github.com/lysunckindanil/telegram-bot-notion/tree/master">GitHub</a></li>
            <li><a href="https://t.me/MotivationNoticeBot">Telegram Bot</a></li>
        </ul>
        <p>Довольно простой проект, который я делал его для себя, чтобы напоминать выпрямлять спину и отправлять
            мотивационные
            сообщения.</p>
    </div>
    <!--    Main technologies-->
    <div class="p-4" style="background-color: #C2C9D3">
        <h3>Основные технологии</h3>
        <ul>
            <li>Hibernate</li>
            <li>Multithreading</li>
            <li>Telegram Bot API</li>
        </ul>
    </div>

    <!--    Conception-->
    <div class="p-4 text-body-emphasis bg-white">
        <h3>Концепция</h3>
        <ul>
            <li>Пользователь добавляет уведомления.</li>
            <li>Пользователь указывает интервал, с которым они будут отправляться.</li>
            <li>Пользователь запускает бота, и он начинает отправлять эти уведомления с указанным интервалом.</li>
            <li>При желании пользователь останавливает бота, и он престает отправлять уведомления.</li>
        </ul>
    </div>
    <div class="p-4" style="background-color: #C2C9D3">
        <h3>Frontend</h3>
        <p>Пользователь имеет 6 команд:</p>
        <ul>
            <li>/state показывает уведомления, запущены ли они, и интервал.</li>
            <li>/run запускает отправку уведомлений.</li>
            <li>/stop останавливает отправку уведомлений.</li>
            <li>/add добавляет уведомление в базу данных (после вызова бот спрашивает текст уведомления).</li>
            <li>/delete удаляет уведомление из базы данных (после вызова бот отправляет список уведомлений и просит
                указать
                его
                номер).
            </li>
            <li>/set изменяет интервал отправки сообщений (после вызова бот просит ввести время периода в
                целочисленном
                формате).
            </li>
        </ul>

        <p>Для того чтобы бот обработал команду, которая требует последующего ответа я использовал сессии. В целях
            экономии
            ресурсов они удаляются, если их продолжительность жизни больше 10 минут.
        <p>
    </div>

    <!--    video-->
    <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/_iYvlSMgUGE?si=4l1smInvkrhhvLaE"
                allowfullscreen></iframe>
    </div>

    <!--    Backend-->
    <div class="p-4 text-body-emphasis bg-white">
        <h3>Backend</h3>
        <p>Потоки:</p>
        <p>Map будем называть словарь, в котором хранятся потоки с ключом chat id пользователя.
            В целях потоковой безопасности поток сам знает, когда ему завершиться, а это не происходит из вне.</p>
        <p>Старт</p>
        <ul>
            <li>Когда пользователь запускает бота (команда /run), то в Map добавляется новый поток с ключом chat id
                этого
                пользователя.
            </li>
        </ul>
        <p>Работа</p>
        <ul>
            <li>В каждом потоке цикл с периодом, который задал пользователь.</li>
            <li>Цикл в потоке работает пока в Map есть ключ chat id пользователя.</li>
        </ul>
        <p>Стоп</p>
        <ul>
            <li>Когда пользователь останавливает бота (команда /stop), то поток с ключом chat id пользователя из Map
                удаляется.
            </li>
            <li>Внутри потока цикл прерывается и поток завершается.</li>
        </ul>
    </div>

    <!--    Hibernate-->
    <div class="p-4" style="background-color: #C2C9D3">
        <h3>Hibernate</h3>
    </div>

    <img class="img-fluid w-100" th:src="@{/images/name/notion_bot_hibernate}" alt="hibernate">
</div>
