<div class="container" th:fragment="resume-project">
    <div class="p-4 text-body-emphasis bg-white">
        <p class="display-5 mb-4">Резюме сайт</p>
        <!--    Introduction-->
        <ul>
            <li><a href="https://github.com/lysunckindanil/resume">GitHub</a></li>
            <li><a href="https://t.me/MotivationNoticeBot">Website</a></li>
        </ul>

        <h3>Основные технологии</h3>
        <ul>
            <li>Hibernate</li>
            <li>Spring security</li>
            <li>Spring MVC</li>
        </ul>

        <h3>Hibernate</h3>
    </div>
    <img class="img-fluid w-100"
         th:src="@{/images/name/resume_hibernate}"
         alt="hibernate">
    <div class="p-4 text-body-emphasis bg-white">
        <h3>Spring security</h3>
    </div>
    <img class="img-fluid w-100"
         th:src="@{/images/name/resume_security}"
         alt="hibernate">
</div>