<div class="container" th:fragment="resume-project">
    <div class="p-4 text-body-emphasis bg-white">
        <p class="display-5 mb-4">Резюме сайт</p>
        <!--    Introduction-->
        <ul>
            <li><a href="https://github.com/lysunckindanil/resume">GitHub</a></li>
            <li><a href="https://t.me/MotivationNoticeBot">Website</a></li>
        </ul>

        <h3>Основные технологии</h3>
        <ul>
            <li>Hibernate</li>
            <li>Spring security</li>
            <li>Spring MVC</li>
        </ul>

        <h3>Hibernate</h3>
        <p>Hibernate entities preview</p>
    </div>
    <img class="img-fluid w-100"
         th:src="@{/images/name/resume_hibernate}"
         alt="hibernate">
    <div class="p-4 text-body-emphasis bg-white">
        <h3>Spring security</h3>
        <p>Spring security config</p>
    </div>
    <img class="img-fluid w-100"
         th:src="@{/images/name/resume_security}"
         alt="hibernate">

    <div class="p-4 text-body-emphasis bg-white">
        <h3>Customization</h3>
        <p>Admin functions carousel</p>
    </div>
    <div style="border: solid rgb(128,128,128)" id="carouselExampleIndicators" class="carousel carousel-dark slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/images/name/projects_controls}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{/images/name/repository_preview}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{/images/name/confirm_delete_image}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{/images/name/project_controls}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{/images/name/confirm_delete_project}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{/images/name/new_project_form}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{/images/name/edit_project_form}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>