<div class="container" th:fragment="ulearn-bot">
    <div class="p-4 text-body-emphasis bg-white">
        <h1 class="display-5 mb-4">Ulearn Bot</h1>
        <ul>
            <li><a href="https://github.com/lysunckindanil/telegram-bot">GitHub</a></li>
            <li><a href="https://t.me/UlearnProjectBot">Telegram</a></li>
        </ul>
        <h3>Идея проекта</h3>
        <p>Есть сайт, на котором нужно решать задачи по программированию. Но там есть антиплагиат, и чтобы его обойти
            нужно
            менять имена переменных.
            Бот продает эти практики.</p>


        <h3>OOPs</h3>
        <p>Я старался делать все методы максимально абстрактными, по крайней мере те, которые находятся на низких
            уровнях,
            все же на высоких сложно, потому что везде логика своя. А вот сервисы на низких уровнях можно легко достать
            и
            использовать в другом приложении. Например, Generator и GeneratorService.</p>
        <h3>SOLID</h3>
        <p>Пытался каждому сервису давать определенную задачу, а не пихать все в один.</p>
        <h3>Работа и исключениями</h3>
        <p>Пытался сделать хоть какую-нибудь систему ошибок. Для каждого сервиса делал ошибки, которые потом может
            обработать другой сервис, который использует первый. Для ошибок добавлял логи, чтобы было видно, что
            изначально
            сломалось и повлекло за собой следующие ошибки. И так на несколько уровней, на каждом уровне лог почему и
            что
            сломалось. Также писал свой класс ошибки, чтобы ошибка хоть что-то о себе говорила в имени.
            На самом высоком уровне, там, где идет прямое взаимодействие с пользователем, если ошибка возникала, то это
            сообщалось ему и предлагалось написать в поддержку.</p>

    </div>
</div>