<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/main_page :: header(active='about')}"></div>


<main class="p-4" style="background-color: #ECECEC">
    <div class="container">
        <!--        about me and photo-->
        <div class="row g-0 overflow-hidden flex-md-row h-md-250 position-relative">
            <div class="col px-5 py-4 d-flex flex-column position-static bg-white">
                <h2 class="display-5 mb-3">Личная информация</h2>
                <div class="mx-2">
                    <p>Имя: Лысункин Данила Алексеевич</p>
                    <p>Дата рождения: 10.12.2003</p>
                    <p>Email: lysunckin.danil@yandex.ru</p>
                    <p>Телефон: +7-963-453-38-13</p>
                </div>
                <h2 class="display-5 mb-3">Образование</h2>
                <div class="mx-2">
                    <p>Тюменский государственный университет</p>
                    <p>Институт математики и компьютерных наук</p>
                    <p>Направление "Компьютерная безопасность" 2 курс</p>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" height="500" alt="my photo"
                     th:src="@{images/name/bio}">
            </div>
        </div>


        <!--        English-->
        <div class="px-5 py-4" style="background-color: #C2C9D3">
            <h3 class="display-5 mb-3">Английский</h3>
            <p>Английский язык на уровне В2</p>
            <p>Свободное чтение документации, художественной литературы</p>
        </div>

        <!--        hobby-->
        <div class="px-5 py-4 bg-white">
            <h3 class="display-5 mb-3">Хобби</h3>
            <p>Спорт</p>
            <p>Чтение</p>
        </div>

    </div>
</main>

<footer th:replace="~{fragments/main_page :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>